/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
	padding: 0;
	margin: 0
}

body {
	background: #eee;
}

.d-{
	&flex {
		display: flex;
	}

	&block {
		display: block;
	}
}

.justify-content--{
	&center {
		justify-content: center;
	}
}

.m- {
	&20 {
		margin-top: 20px;
		margin-bottom: 20px;
	}

	&40 {
		margin-top: 40px;
		margin-bottom: 40px;
	}

	&t {
		&20 {
			margin-top: 20px;
		}

		&40 {
			margin-top: 40px;
		}
	}
}
