@import 'variables';
@import 'images';

@img-w: 683;
@img-h: 191;

.main {
	margin-bottom: 70px;
	position: relative;
	height: ~'calc(100vh - 70px)';

	@media @bp-desktop-up {
		margin-bottom: 0;
		height: 100vh;
	}

	&__content {
		width: 100%;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		text-align: center;
		&__text {
			text-align: center;
			.visible();
		}
	}

	&__button {
		.visible();
	}

	&__sasha {
		position: fixed;
		top: 0;
		transform: rotate(180deg);
		right: 0;
		width: 30%;

		@media @bp-tablet-up {
			top: initial;
			transform: none;
			right: initial;
			width: 20%;
			bottom: 0;
			left: 0;
		}

		@media @bp-desktop-up {
			width: 15%;
		}
	}

	&__dogs {
		position: fixed;
		bottom: 0;
		width: calc(100% - 40px);
		left: 20px;
		right: 20px;

		@media @bp-tablet-up {
			width: 50%;
			left: initial;
			right: 50px;
		}

		@media @bp-desktop-up {
			width: 30%;
			left: initial;
			right: 50px;
		}
	}
}
